a {
	text-decoration: none;
}

body {
	padding-top: var(--header-height);
	overflow-x: hidden;
}

img {
	max-width: 100%;
	min-width: 100%;
}

.pr-section {
	padding-right: var(--padding-section);
}

.pl-section {
	padding-left: var(--padding-section);
}
