.root {
	display: flex;
	padding: 0 var(--padding-container);
	overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
	}
}

.image {
	max-height: 490px;
	min-width: auto;
	object-fit: cover;

	&:not(:last-child) {
		margin-right: 40px;
	}
}
